<div class="login-form-one">
  <h1 class="form-title">Forgot your password?</h2>
  <h4 class="form-desc"></h4>  
  <div class="x_panel">
    <div class="x_content">
      
      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
        
        <%= devise_error_messages! %>
        
        <div class="form-group">
          <%= f.label :email, class: "control-label"%>
          <%= f.email_field :email, :autofocus => true, class: "form-control input-lg" %>
        </div>
        <div class="form-group margin-lg-top">
          <%= f.submit 'Send me reset password instructions', class: 'btn btn-default btn-lg' %>
        </div>
      <% end %>

    </div>
  </div>
</div>


