<!DOCTYPE html>
<html>
<head>
  <title>1031 Exchange</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="background-page">
<div class="container-fluid">
  <div class="auth-wrapper">
  
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="login-form-header">
          <div class="logo">
            <%= image_tag 'logo.png', width: '212px', height: '57px' %>
          </div>
          <div class="cont_bar"></div>
        </div>
        <% if flash[:alert] %>
            <div class='alert-signin'><%= flash[:alert] %></div>
        <% end %>
        <% if flash[:notice] %>
            <div class='alert-signin'><%= flash[:notice] %></div>
        <% end %>
      </div>
    </div>


    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <div class='login-main-form'>
          <div class="login-form-one">
            <%= yield %>
            <div class="clearfix margin-lg-top">
              <div class="pull-right company_name">
                &copy; 1031 Fun. All Right Reserved.
              </div>
              <div class="pull-left">
                <%= link_to "New?<span>Sign up</span>".html_safe, new_registration_path(resource_name) %>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</body>
</html>
