<!DOCTYPE html>
<html>
<head>
  <title>1031 Exchange</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="background-page">
<div class="container-fluid">
  <div class="auth-wrapper">

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="login-form-header">
          <div class="logo">
            <%= image_tag 'logo.png', width: '212px', height: '57px' %>
          </div>
          <div class="cont_bar"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <div class='login-main-form'>
          <%= yield %>

          <div class="clearfix margin-md-top">
            <div class="pull-right company_name">
              &copy; 2017 The Halper Firm.&nbsp;&nbsp;All Rights Reserved.
            </div>
            <div class="pull-left">
              <% if devise_mapping.registerable? && controller_name != 'registrations' %>
                <%= link_to "New?<span>&nbsp;&nbsp;Sign up</span>".html_safe, new_registration_path(resource_name) %>
              <% else %>
                <%= link_to "Back", :back %>
              <% end %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</body>
</html>
